.topbar {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: #ffffff;
  border-bottom: 1px solid #e2e0dd;
}


.window-dots {
  display: flex;
  gap: 8px;
}


.window-dots span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #d6d3d1;
}